 <h1 class="my-12">ATA SHOP</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">{{category.name}}</a>
          <a href="#" class="list-group-item">{{category1.name}}</a>
          <a href="#" class="list-group-item">{{category2.name}}</a>
          <a href="#" class="list-group-item">{{category3.name}}</a>
          <a href="#" class="list-group-item">{{category4.name}}</a>
          <a href="#" class="list-group-item">{{category5.name}}</a>
          <a href="#" class="list-group-item">{{category6.name}}</a>
          <a href="#" class="list-group-item">{{category7.name}}</a>
          <a href="#" class="list-group-item">{{category8.name}}</a>
        </div>